{% extends 'base.html.twig' %}

{% block title %}SetURCAlendar - Edition Profil{% endblock %}

{% block body %}
    <div {{ react_component('AppBar') }}></div>
    <div class="form">
        {{ form_start(form) }}
        <div class="form_text">{{ form_row(form.mail, {'label': 'Adresse Mail : '}) }}</div>
        <div class="form_text">{{ form_row(form.phone, {'label': 'Téléphone : '}) }}</div>
        <div class="form_text">{{ form_row(form.address, {'label': 'Adresse : '}) }}</div>
        <div class="form_text">{{ form_row(form.city, {'label': 'Ville : '}) }}</div>
        <div class="form_text">{{ form_row(form.postcode, {'label': 'Code postale : '}) }}</div>
        <input class="button" type="submit" value="Modifier" />
        {{ form_end(form)}}
    </div>

{% endblock %}
