{% extends 'base.html.twig' %}

{% block title %}SetURCAlendar - Profil{% endblock %}

{% block body %}
    <div {{ react_component('AppBar') }}></div>
    <h1 class="title">{{ user.firstname }} {{ user.lastname }}</h1>
    <div class="information">
        <p class="information_text">Adresse mail : {{ user.mail }}</p>
        <p class="information_text">Téléphone : {{ user.phone }}</p>
        <p class="information_text">Adresse : {{ user.address }} {{ user.city }} {{ user.postcode }}</p>
        <button onclick="location.href='/profil/'+ {{ user.id }} +'/edit'" class="button">Editer</button>
    </div>


{%  endblock %}