{% extends 'base.html.twig' %}
{% block title %}Ajout d'un professeur{% endblock %}
{% block body %}
    <div {{ react_component('AppBar') }}></div>

    <div class="attribution">
        <div class="groups">
        <h1>Ajout d'un voeu pour le cours : {{ lesson.lesson.name }}</h1>
        <p>Type du cours : {{ lesson.lessonType.name }}</p>
        <p>Nombre de groupes à encadrer : {{ lesson.nbGroups }}</p>
            <div class="form_teacher">
                {{ form_start(form) }}
                <label>
                    Choisissez un professeur :
                    <select name="{{ field_name(form.teacher) }}" class="form-control">
                        {% for teacher in teachers %}
                            <option value={{ teacher.id }}>{{teacher.lastname}} {{teacher.firstname}}</option>
                        {% endfor %}
                    </select>
                </label>
                {{ form_row(form.nbGroupSelected, {'label': 'Nombre de groupe choisis : '}) }}
                {{ form_row(form.nbGroupAttributed, {'label': 'Nombre de groupe attribué : '}) }}
                <button type="submit" class="btn button_teacher">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}