{% extends 'base.html.twig' %}

{% block title %}Hello ChoiceAttributionController!{% endblock %}

{% block body %}
    <div {{ react_component('AppBar') }}></div>

<div class="">
    <h1>Attribution des groupes</h1>

    {% for lesson in lessons %}
        <div class="cards">
        <p class="tittle_admin">{{ lesson.lesson.name }} {{ lesson.lessonType.name }} | {{ lesson.nbGroups }} groupes</p>
        <div class="groups">
        {% for choice in lesson.choices %}
            <div class="professor">
                <p class="">{{ choice.teacher.lastname }} {{ choice.teacher.firstname }} souhaite {{ choice.nbGroupSelected }} groupes</p>
            </div>
        {% endfor %}
        </div>
        </div>
    {% endfor %}


</div>
{% endblock %}
