{% extends 'base.html.twig' %}

{% block title %}Hello ChoiceAttributionController!{% endblock %}

{% block body %}
    <div {{ react_component('AppBar') }}></div>

<div class="attribution">
    <h1 class="title_admin">Attribution des groupes</h1>
    <div class="professor">
        <p>Professeur | Nombre de groupe souhaité | Nombre de groupe attribué</p>
    </div>
    {% for lesson in lessons %}
        <p class="title_lesson">{{ lesson.lesson.name }} {{ lesson.lessonType.name }} | {{ lesson.nbGroups }} groupes</p>
        <div class="groups">
        {% for choice in lesson.choices %}
            <div class="professor">
                <p class="">{{ choice.teacher.lastname }} {{ choice.teacher.firstname }} souhaite {{ choice.nbGroupSelected }} groupes</p>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
